[GENERAL]
RESPONSEFILE_VERSION = "11.2.0"
OPERATION_TYPE = "createDatabase"
[CREATEDATABASE]
GDBNAME = "{{gdbname}}"
SID = "{{oracle_sid}}"
TEMPLATENAME = "General_Purpose.dbc"
SYSPASSWORD = "{{syspassword}}"
SYSTEMPASSWORD = "{{systempassword}}"
CHARACTERSET = "{{characterset}}"
NATIONALCHARACTERSET= "{{nationalcharacterset}}"